@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ColorPrimerio: #FAF1E6;
    --ColorSegundo: #1F316F;
    --ColorTercero: #FE7A36;
    --ColorCuarto: #D9D9D9;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", system-ui;

}
   
header{
    display: flex;   
    justify-content: space-between;
    margin: 2rem;

}

header img {
    max-width: 30rem;
   margin-left: -2rem;
   margin-top: -1.3rem;
}
.menu_icon {
    max-width: 5rem;
    fill: #fff;
   
    
}
/* Estilos del menú lateral */
.side-menu {
    position: fixed;
    top: 0;
    right: -250px;  /* Fuera de la pantalla inicialmente */
    width: 200px;
    height: 50%;
    background-color: #1A4870;
    color:#FAF1E6;
    padding-top: 20px;
    transition: 0.3s ease;  /* Animación para el deslizamiento */
  }
  
  .side-menu.open {
    right: 0;  /* Aparece en la pantalla */
    font-family: Poppins;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .side-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-menu ul li {
    margin: 20px 0;
    text-align: center;
  }
  
  .side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .side-menu ul li a:hover {
    color: #ffda79;  /* Efecto hover */
  }

  .button-close {
    width: 25px;
    height: 25px;
    font-size: 40%;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: #1A4870;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    background-color: #f9f9f9;
  }
  .button-close:hover {
    background-color: #1A4870;
    color: white;
  }
  